html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(236deg, #74ebd5, #acb6e5);
  font-family: Helvetica, Arial, sans-serif;
}

/* Bloc calculatrice */
.calculator {
  border-radius: 12px;
  box-shadow: 0 0 40px rgba(0,0,0,0.15);
  width: 260px;              /* largeur fixe pour rectangle */
  overflow: hidden;
}

/* Affichage */
.calculator__display {
  background-color: #222;
  color: #fff;
  font-size: 2em;
  text-align: right;
  padding: 10px;
}

/* Grille des touches */
.calculator__keys {
  background-color: #999;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(4, 1fr); /* 4 colonnes régulières */
}

/* Boutons */
.calculator__keys button {
  background-color: #fff;
  border: none;
  padding: 15px;
  font-size: 1.2em;
  cursor: pointer;
}

.calculator__keys button:hover {
  background-color: #f2f2f2;
}

/* Boutons spéciaux */
.key--operator {
  background-color: #eee;
}

.key--equal {
  background-image: linear-gradient(to bottom, #fe886a, #ff7033);
  color: #fff;
}
